In [1]:
i=32
i

32

In [2]:
type(i)

int

In [3]:
f=110.33
f

110.33

In [4]:
type(f)

float

In [5]:
f1=1e0
f1

1.0

In [6]:
f2= 1E2
f2

100.0

In [7]:
c=1+2j
c

(1+2j)

In [8]:
c.real

1.0

In [9]:
c.imag

2.0

In [1]:
a=10 # here python prints
b=20
a

10

In [4]:
a=10 # here python prints what variable we ask at last 
b=20
a
b

20

In [3]:
a=10 # here we use print so that it print everything we ask
b=20
print (a)
print (b)

10
20

In [6]:
print (10)
print (10,20)
print ("python")

10
10 20
python

In [7]:
num1=100 
num2=50
add=num1 + num2
print(add)

150

In [13]:
# print result with string
num1=20
num2=30
add=num1 + num2
print('The addition of', num1, 'and' , num2, 'is=',add)

The addition of 20 and 30 is= 50

In [10]:
name="python" # print result with string
age=20
city='hyd'
print('My name is', name, 'and i am', age,'year old from', city)

My name is python and i am 20 year old from hyd

In [12]:
#print format method
#first decide how the print should be 
num1=20
num2=30
add=num1+num2 # next replace the variable position with curly braces{} 
print('The addition of {} and {} is = {}'.format(num1,num2,add))# then apply .format(val1,val2...)

The addition of 20 and 30 is = 50

In [16]:
name='python'
age=20
city='hyderabad'
print('My name is {}, and i am {} years old from {}'.format(name,age,city))

My name is python, and i am 20 years old from hyderabad

In [19]:
num1=100
num2=25
num3=333
avg=(num1+num2+num3)/3 #or we can use avg=round((num1+num2+num3)/3,2)
avg1=round((num1+num2+num3)/3,2)
#the average of num1,num2,num3 is = avg
print('The average of {},{}, {} is = {} or {}'.format(num1,num2,num3,avg,avg1))

The average of 100,25, 333 is = 152.66666666666666 or 152.67

In [20]:
round(avg,2) #round off till two digits after decimal

152.67

In [22]:
# more short format method ( f string method)
#variable should be in curly braces
#and write everything inside quotes
#at starting simply add f
num1=20
num2=30
add=num1+num2
print(f'The addition of {num1} and {num2} is = {add}') #always prefer this

The addition of 20 and 30 is = 50

In [25]:
name='python'
age=20
city='Hyderabad'
print(f'My name is {name} and I am {age} years old from {city}')

My name is python and I am 20 years old from Hyderabad

In [32]:
num1=100
num2=25
num3=333
average=round((num1+num2+num3)/3,2)
print(f'the average of {num1},{num2} and {num3} is = {average}')

the average of 100,25 and 333 is = 152.67

In [35]:
# lets combine all methods
num1=10
num2=20
add=num1+num2
print('The addition of',num1, 'and',num2, 'is =', add)
print('The addition of {} and {} is = {}'.format(num1,num2,add))
print(f'the addition of {num1} and {num2} is = {add}')

The addition of 10 and 20 is = 30
The addition of 10 and 20 is = 30
the addition of 10 and 20 is = 30

In [36]:
# end statement
print('hello') # first statement
print('good morning') # second statement

hello
good morning

In [37]:
# here we use end statement that joint line from end of one string to starting of other string
print('hello', end=' ') # 1st statement
print('world good day') #2nd statement

hello world good day

In [38]:
print('hello!', end= '')
print(" i am sriram, and you are?")

hello! i am sriram, and you are?

In [39]:
# seperator
# here we use only one print statement, inside one print statement we have multiple values
# we need to seperate this multiple values with anything
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [40]:
print('max','min','min-max',sep='&')

max&min&min-max

In [41]:
print('ramesh','gmail.com',sep='@')

ramesh@gmail.com

In [43]:
# using both end and seperator
print('hello', end=' ')
print(' i am','22',sep='@')

hello  i am@22